.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header > * {
    text-align: center;
}

.title {
    font-family: 'Diphylleia';
    font-size: 40px;
    padding: 1em 0;
}
